section.main {
    width: 100%;
    max-width: 1200px;
    @include center-block();
    padding: 1em;
}

.youtube {
    position: relative;
    height: 0;
    width: 100%;
    margin-bottom: 3em;
    padding-top: 56.25%;
    z-index: 1;

    &.standard {
        padding-top: 75%;
    }

    iframe {
        position: absolute;
        top: 0; bottom: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.alignright {
    float: right;
    margin: 0 0 .5em .5em;
}

.alignleft {
    float: left;
    margin: 0 .5em .5em 0;
}

.error-404 {
    @include clearfix();

    img {
        float: right;
        margin: 0 0 1em 1em;
    }
}

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
    section.main {
    }
}

@media only screen and (min-width: 54em) {  //approximate min-width: 992px
    section.main {
        padding: 2em;
    }

        .content {
            @include css3-calc('width', '100% - (300px + 4em)');
            float: left;
        }

        .no-csscalc {
            .content {
                width: 61.6666666666666%;
            }
        }
}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}