section.main {
    width: 100%;
    max-width: 1200px;
    @include center-block();
    padding: 1em;
    @include clearfix();
}

.youtube {
    position: relative;
    height: 0;
    width: 100%;
    margin-bottom: 3em;
    padding-top: 56.25%;
    z-index: 1;

    &.standard {
        padding-top: 75%;
    }

    iframe {
        position: absolute;
        top: 0; bottom: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.alignright,
.alignleft,
.aligncenter,
.alignnone {
    display: block;
    width: 100%;
    margin: 0 0 .5em 0;
}

.wp-caption {
    border: 1px solid $sqLightGrey;
    padding: .25em;
    text-align: center;
}

.wp-caption-text,
.gallery-caption {
    font-size: .75em;
    font-style: italic;
}

.sticky {
    header,
    main {
        background: lighten($bodyColor, 5%);
    }

    header {
        padding: 1em;
    }

    main {
        padding: 0 1em;
    }

    footer {
        border: 1em solid lighten($bodyColor, 5%);
        border-top: 0;
    }
}

.error-404 {
    @include clearfix();

    img {
        float: right;
        margin: 0 0 1em 1em;
    }
}

@media only screen and (min-width: 40em) {
    .alignright {
        float: right;
        width: 50%;
        margin: 0 0 .5em .5em;
    }

    .alignleft {
        float: left;
        width: 50%;
        margin: 0 .5em .5em 0;
    }

    .aligncenter {
        width: auto;
        margin: .5em auto;
    }

    .alignnone {
        float: none;
        width: auto;
        margin: 0 .5em .5em 0;
    }
}

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
    section.main {
    }
}

@media only screen and (min-width: 54em) {  //approximate min-width: 992px
    section.main {
        padding: 2em;
    }

        .content {
            @include css3-calc('width', '100% - (300px + 4em)');
            float: left;
        }

        .no-csscalc {
            .content {
                width: 61.6666666666666%;
            }
        }
}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}