footer.main {
    width: 100;
    margin-top: 2em;
    padding: .5em;
    background-color: $sqDarkGrey;
    color: white;
    font-size: .75em;
}

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
    footer.main {
        margin-top: 0;
    }
}

@media only screen and (min-width: 54em) {  //approximate min-width: 992px

}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}