header.main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $sqDarkGrey;
    @include box-shadow(0 0 6px rgba(0,0,0,.4));
    z-index: 1000000;

    h1 {
        display: inline-block;
        margin-bottom: 0;
        margin-left: .25em;


        a {
            display: block;
            height: 50px;
            color: $sqLightGrey;
            font-family: $baseFont;
            line-height: 50px;
            overflow: hidden;

            &:hover {
                text-decoration: none;
            }

            span {
                vertical-align: top;
                line-height: 50px;
            }
        }

        img {
            height: 100%;
            vertical-align: top;
        }
    }
}

            .full-name {
                margin-left: .25em;
                font-size: .625em;
                display: none;
            }

            .blog-description {
                display: none;
                font-family: $baseFont;
                font-size: .5em;
            }

@media only screen and (min-width: 34em) {
    .full-name {
        display: inline-block;
    }
}

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
}

@media only screen and (min-width: 54em) {  //approximate min-width: 992px
}

@media only screen and (min-width: 70em) {
    .blog-description {
        display: inline-block;
    }
}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}