nav ul {
    margin: 0;
}

nav.social {
    float: right;
    font-size: 1.5em;
    margin-right: .5em;

    a {
        display: inline-block;
        padding: 0 .25em;
        color: $sqLightGrey;
        line-height: 50px;
        background-position: 50% 50%;
        @include transition(color .2s);

        &:hover {
            color: $sqWhite;
            text-decoration: none;
        }
    }
}

#openMobileMenu {
    float: right;
    display: inline-block;
    right: 0;
    top: 0;
    width: 40px;
    line-height: 50px;
    font-size: 1.5em;
    color: $sqLightGrey;
    @include transition(color .2s);

    &:hover {
        color: $sqWhite;
        text-decoration: none;
    }
}

nav.primary {
    position: absolute;
    display: none;
    left: 0;
    top: 50px;
    width: 100%;
    background: $sqDarkGrey;

    ul {
        padding: 0;
    }

    li {
        width: 100%;
        list-style: none;
        border-bottom: 1px solid $sqLightGrey;

        &:last-child {
            border-bottom: 0;
        }
    }

    a {
        display: block;
        padding: 20px;
        color: $sqLightGrey;
        font-weight: bold;
        @include transition(color .2s);

        &:hover {
            background-color: lighten($sqDarkGrey, 5%);
            color: $sqWhite;
        }
    }
}

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
    #openMobileMenu {
        float: right;
        display: none;
    }

    nav.social {
        margin-right: .25em;
        font-size: 1.25em;
    }

    nav.primary {
        display: block !important; //Important in case user closed with jquery before increasing browser width
        position: relative;
        float: right;
        right: 2.5%;
        top: auto;
        bottom: 2.5%;
        width: auto;
        background: transparent;
        font-size: .625em;

        li {
            display: inline-block;
            width: auto;
            border-bottom: 0;
        }

        a,
        span {
            padding: 1.5em .5em;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

@media only screen and (min-width: 62em) {  //approximate min-width: 992px

}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}