.portfolio-grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: justified;

    li {
        display: inline-block;
        @include css3-calc('width', '50% - 1em');
        vertical-align: top;
        font-size: .1px;
        
        & > a,
        & > a img {
            position: relative;
            display: block;
        }

        &.portfolio-expanded > a:after {
            position: absolute;
            content: " ";
            left: 50%;
            top: auto;
            width: 0;
            height: 0;
            margin: -1.5em 0 0 1em;
            pointer-events: none;
            border: solid transparent;
            border-bottom-color: $sqMidGrey;
            border-width: 1em;
        }
    }
}

        .portfolio-expander {
            position: absolute;
            top: auto;
            left: 0;
            width: 100%;
            height: 0;
            margin-top: .5em;
            background: $sqMidGrey;
            text-align: left;
            overflow: hidden;
        }

            .portfolio-expander-inner {
                padding: 4em 2em;
            }

            .portfolio-close {
                position: absolute;
                right: 1em;
                top: 1em;
                width: 2em;
                height: 2em;
                cursor: pointer;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    height: 1px;
                    background: $sqGrey;
                    @include rotate(45);
                }

                &:after {
                    @include rotate(-45);
                }

                &:hover:before,
                &:hover:after {
                    background: $sqLightGrey;
                }
            }

            .portfolio-image-large,
            .portfolio-details {
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                overflow: hidden;
            }
