.article {
    header {
        h1 {
            margin-bottom: 0;

            a{
                font-weight: bold;
            }
        }
    }

    .socialpost-type {
        text-transform: capitalize;
    }

    hr {
        margin: 2em 20%;
        width: 60%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

    .byline {
        margin: .5em 0 0 0;
        font-size: .75em;
        font-style: italic;

        a {
            font-style: italic;
        }
    }

    .attachment-post-thumbnail {
        width: 100% !important;
        height: auto !important;
        margin-top: 1em;
        margin-bottom: .5em;
        padding: 5px;
        border: 1px solid $lightGrey;
    }

    .article-content {
        padding-top: .5em;
    }

    .bottom-date {
        @include rem-px(margin-bottom, 1rem);
    }

    .article-footer {
        padding: .5em;
        background: $sqDarkGrey;
        font-size: .75em;

        a {
            color: $sqWhite;
        }
    }

.comments {
    margin-top: 2em;

    input[type="text"] {
        margin-bottom: 0;
    }

    a:visited {
        color: $sqRed;
    }
}

    .comment-list {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
        }
    }

        .comment {
            p {
                clear: both;
            }

            .children {
                padding: 0;
                margin: 0;

                .comment {
                    padding-left: 2em;
                    border-bottom: 0;
                }
            }
        }

            .comment-body {
                padding: .25em 0 1.5em 0;
                border-top: 2px solid $sqDarkGrey;
            }

            .comment-author-admin,
            .bypostauthor {
                .comment-body {
                    border-color: darken($sqRed, 14%);
                }
            }

                .comment-author,
                .comment-meta {
                    display: inline-block;
                    line-height: 32px;
                }

                .comment-meta {
                    float: right;
                    padding-left: 1em;
                    font-size: .75em;
                }

.wp-prev-next {
    margin-bottom: 2em;
    @include clearfix();
}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }

    .prev-link,
    .next-link {
        a {
            color: red;
        }
    }

@media only screen and (min-width: 48em) {  //approximate min-width: 768px
    article.post {
        &:last-of-type {
            margin-bottom: 2.5%;

            hr {
                display: none;
            }
        }
    }

    .wp-prev-next {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 62em) {  //approximate min-width: 992px

}

@media only screen and (min-width: 84em) { //approximate min-width: 1340px

}