/*
Syntax error: Functions can only contain variable declarations and control directives.
        on line 164 of scss/_mixins.scss
        from line 10 of scss/style.scss

159: // @include rem-px(margin, 1rem, 1rem, 2rem, 1.5rem) outputs:
160: // margin: 160px 320px 480px 640px;
161: // margin: 10rem 20rem 30rem 40rem;
162: @function strip-unit($num) {
163: //CSS TRANSFORM MIXINS
164: @mixin rotate($deg) {
165: 	-webkit-transform: rotate(#{$deg}deg);
166: 	-moz-transform: rotate(#{$deg}deg);
167: 	-ms-transform: rotate(#{$deg}deg);
168: 	-o-transform: rotate(#{$deg}deg);
169: }

Backtrace:
scss/_mixins.scss:164
scss/style.scss:10
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:39:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:36:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:24:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:229:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/engine.rb:265:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/plugin/compiler.rb:325:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/plugin/compiler.rb:179:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/lib/sass/plugin/compiler.rb:278:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.121/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Functions can only contain variable declarations and control directives.\A         on line 164 of scss/_mixins.scss\A         from line 10 of scss/style.scss\A \A 159: // @include rem-px(margin, 1rem, 1rem, 2rem, 1.5rem) outputs:\A 160: // margin: 160px 320px 480px 640px;\A 161: // margin: 10rem 20rem 30rem 40rem;\A 162: @function strip-unit($num) {\A 163: //CSS TRANSFORM MIXINS\A 164: @mixin rotate($deg) {\A 165: 	-webkit-transform: rotate(#{$deg}deg);\A 166: 	-moz-transform: rotate(#{$deg}deg);\A 167: 	-ms-transform: rotate(#{$deg}deg);\A 168: 	-o-transform: rotate(#{$deg}deg);\A 169: }"; }
